* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  padding: 50px;
}

#root {
  display: flex;
  max-width:100%;
  height: 100%;
  gap: 20px;
}

.input-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  gap: 30px;
}

input {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rendering-section {
  display: flex;
  width: 80%;
  min-height: 100%;
}

.sidebar {
  width: 30%;
  padding: 15px;
  background-color: #E0E2D7;
  display: flex;
  flex-direction: column;
  word-wrap: break-word; 
}

.sidebar h1 {
  text-align: left;
  font-size: 30px;
  color: black;
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  color: black;
  margin-top: 20px;
}

.contacts div {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 10px;
  flex: 1;
}

.contacts div img {
  width: 15px;
  align-self: center;
}

.sidebar h2 {
  margin-top: 20px;
  font-style: italic;

}

.education-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  border-bottom: 1px solid black;
}

.edu-item-btns {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-bottom: 5px;
}

.edu-item-btns img {
  width: 20px;
}

.edu-item-btns button, .exp-item-btns button{
  background-color: transparent;
  border: none;
}

.edu-item-btns button:hover, .exp-item-btns button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

textarea {
  resize: none;
}

.btnIcon {
  width: 50px;
}
.content {
  padding:15px;
  width:70%;
}
.content h2{
  font-style: italic;
}
.experience-item{
  padding:10px;
  margin-top:20px;
  border-bottom:1px solid black;
  word-wrap: break-word;
}
.exp-item-header{
  display:flex;
  padding:0;
  margin-bottom: 10px;
  justify-content: space-between;
}
.exp-item-date{
  display:flex;
  gap:10px;
}
.exp-item-description{
  margin-left:10px;
  margin-bottom: 10px;;
}
.exp-item-btns{
  display:flex;
  justify-content: flex-end;
  gap:5px;
  margin-bottom:5px;
}
.exp-item-btns img{
  width:20px;
}
/* @media print {
  body{
    padding:0;
  }
  .sidebar{
    width:35%;
  }
  .content{
    width:65%;
  }
  button {
    display: none;
  }

  .input-section {
    display: none;
  }
  .rendering-section{
    width:100%;
  }
} */